<div class="widgets" ng-controller="excRecord">
    <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 control-label">彩种名称</label>
                <div class="col-sm-2">
                    <ui-select ng-model="selectParam.lotterySelected"
                               class="btn-group bootstrap-select form-control"
                               ng-disabled="false"
                               append-to-body="true"
                               search-enabled="false">
                        <ui-select-match placeholder="请选择">
                            <span>{{$select.selected.value}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in selectParam.lottery | filter: $select.search">
                            <span ng-bind-html="item.value"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <label class="col-sm-1 control-label">异常操作项</label>
                <div class="col-sm-2">
                    <ui-select ng-model="selectParam.fixedCodeSelected"
                               class="btn-group bootstrap-select form-control"
                               ng-disabled="false"
                               append-to-body="true"
                               search-enabled="false">
                        <ui-select-match placeholder="请选择">
                            <span> {{$select.selected.value}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in selectParam.fixedCode | filter: $select.search">
                            <span ng-bind-html="item.value"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>


                <label class="col-sm-1 control-label">开始时间</label>
                <div class="col-sm-2">
                    <!--添加指令（so-date）指定id type="text"-->
                    <input id="startTime" so-date type="text" class="form-control" placeholder="开始时间"
                           ng-model="selectParam.startTime"/>
                </div>
                <label class="col-sm-1 control-label">结束时间</label>
                <div class="col-sm-2">
                    <!--添加指令（so-date）指定id type="text"-->
                    <input type="text" id="endTime" class="form-control" placeholder="结束时间"
                           ng-model="selectParam.endTime"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">状态</label>
                <div class="col-sm-2">
                    <ui-select ng-model="selectParam.statusSelected"
                               class="btn-group bootstrap-select form-control"
                               ng-disabled="false"
                               append-to-body="true"
                               search-enabled="false">
                        <ui-select-match placeholder="请选择">
                            <span>{{$select.selected.value}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in selectParam.status | filter: $select.search">
                            <span ng-bind-html="item.value"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <label class="col-sm-6 control-label ">自动刷新</label>
                <div class="col-sm-1  align-right">
                    <ui-select ng-model="selectParam.cycled"
                               class="btn-group bootstrap-select form-control"
                               ng-disabled="false"
                               append-to-body="true"
                               search-enabled="false">
                        <ui-select-match placeholder="请选择">
                            <span>{{$select.selected.msg}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in selectParam.cycle | filter: $select.search">
                            <span ng-bind-html="item.msg"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
               <div class="col-sm-2  align-right">
                    <a ng-click="onReset()">重置</a>
                    <button type="submit" class="btn btn-primary  btn-with-icon" ng-click="onSearch()"><i
                            class="ion-search"></i>搜索
                    </button>
                    <button type="button" class="btn btn-primary  btn-with-icon" ng-click="onExport()"><i
                            class="ion-ios-cloud-download"></i>导出
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div ba-panel ba-panel-title="  " ba-panel-class="with-scroll">
        <table class="table table-hover">
            <thead>
            <tr class="black-muted-bg">
                <th>序列</th>
                <th>彩种名称</th>
                <th>期号</th>
                <th>提交时间</th>
                <th>异常状态</th>
                <th>异常操作项</th>
                <th>修改关键字</th>
                <th>处理状态</th>
                <th>操作人</th>
                <th>操作时间</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody ng-if="entity != null || entity.length >0">
            <tr ng-repeat="item in entity">
                <td>{{$index+1}}</td>
                <td>{{item.lotteryName}}</td>
                <td>{{item.issue}}</td>
                <td>{{item.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{item.errorStatusName}}</td>
                <td>{{item.fixedCodeName}}</td>
                <td>{{item.logContent}}</td>
                <td>{{item.statusName}}</td>
                <td>{{item.updateUserName}}</td>
                <td>{{item.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td><a title="{{item.comments}}">{{item.comments | limitTo:10}}{{item.comments.length >10
                    ?'...':''}}</a></td>
            </tr>
            </tbody>
            <tbody ng-if="entity == null || entity.length ==0">
            <tr>
                <td colspan="11">暂无数据</td>
            </tr>
            </tbody>
        </table>
        <div id="page"></div>
    </div>
</div>
