<div class="widgets" ng-controller="agentListStatistics">
    <div ba-panel ba-panel-class="">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 control-label" ng-show="agentFlag">代理账号</label>
                <div class="col-sm-2" ng-show="agentFlag">
                    <input class="form-control" ng-model="queryParam.agent" placeholder="">
                </div>
                <label class="col-sm-1 control-label">来源</label>
                <div class=" col-sm-2 ">
                    <ui-select ng-model="selectParam.statusSelected"
                               class="btn-group bootstrap-select form-control"
                               ng-disabled="false"
                               append-to-body="true"
                               search-enabled="false">
                        <ui-select-match placeholder="请选择">
                            <span>{{$select.selected.value}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in selectParam.sourceType | filter: $select.search">
                            <span ng-bind-html="item.value"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <label class="col-sm-1 control-label">时间范围</label>
                <div class=" col-sm-2 ">
                    <input id="startTime" so-date type="text" class="form-control" placeholder="开始时间"
                           ng-model="selectParam.startTime"/>
                </div>
                <div class=" col-sm-2 ">
                    <input id="endTime" so-date type="text" class="form-control" placeholder="结束时间"
                           ng-model="selectParam.endTime"/>
                </div>
            </div>
            <div class="">
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-1 control-label">总注单数</label>-->
                    <!--<div class=" col-sm-2 ">-->
                        <!--<input class="form-control" ng-model="queryParam.depositCountStart" placeholder="">-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<label class="col-sm-1 control-label"></label>&ndash;&gt;-->
                    <!--<span style="float: left;line-height: 34px;font-size: 20px">&#45;&#45;</span>-->
                    <!--<div class=" col-sm-2 ">-->
                        <!--<input class="form-control" ng-model="queryParam.depositCountEnd" placeholder="">-->
                    <!--</div>-->
                    <!--<label class="col-sm-1 control-label"></label>-->
                    <!--<label class="col-sm-1 control-label">总投注额</label>-->
                    <!--<div class=" col-sm-2 ">-->
                        <!--<input class="form-control" ng-model="queryParam.depositLumpSumStart" placeholder="">-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<label class="col-sm-1 control-label"></label>&ndash;&gt;-->
                    <!--<span style="float: left;line-height: 34px;font-size: 20px">&#45;&#45;</span>-->
                    <!--<div class=" col-sm-2 ">-->
                        <!--<input class="form-control" ng-model="queryParam.depositLumpSumEnd" placeholder="">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-1 control-label">总有效投注额</label>-->
                    <!--<div class=" col-sm-2 ">-->
                        <!--<input class="form-control" ng-model="queryParam. withdrawalCountStart" placeholder="">-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<label class="col-sm-1 control-label">&#45;&#45;&#45;&#45;</label>&ndash;&gt;-->
                    <!--<span style="float: left;line-height: 34px;font-size: 20px">&#45;&#45;</span>-->
                    <!--<div class=" col-sm-2 ">-->
                        <!--<input class="form-control" ng-model="queryParam.withdrawalCountEnd" placeholder="">-->
                    <!--</div>-->
                    <!--<label class="col-sm-1 control-label"></label>-->
                    <!--<label class="col-sm-1 control-label">总返点</label>-->
                    <!--<div class=" col-sm-2 ">-->
                        <!--<input class="form-control" ng-model="queryParam.withdrawalLumpSumStart" placeholder="">-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<label class="col-sm-1 control-label"></label>&ndash;&gt;-->

                    <!--<span style="float: left;line-height: 34px;font-size: 20px">&#45;&#45;</span>-->
                    <!--<div class=" col-sm-2 ">-->
                        <!--<input class="form-control" ng-model="queryParam.withdrawalLumpSumEnd" placeholder="">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-1 control-label">总派奖</label>-->
                    <!--<div class=" col-sm-2 ">-->
                        <!--<input class="form-control" ng-model="queryParam. withdrawalCountStart" placeholder="">-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<label class="col-sm-1 control-label">&#45;&#45;&#45;&#45;</label>&ndash;&gt;-->
                    <!--<span style="float: left;line-height: 34px;font-size: 20px">&#45;&#45;</span>-->
                    <!--<div class=" col-sm-2 ">-->
                        <!--<input class="form-control" ng-model="queryParam.withdrawalCountEnd" placeholder="">-->
                    <!--</div>-->
                    <!--<label class="col-sm-1 control-label"></label>-->
                    <!--<label class="col-sm-1 control-label">总损益</label>-->
                    <!--<div class=" col-sm-2 ">-->
                        <!--<input class="form-control" ng-model="queryParam.withdrawalLumpSumStart" placeholder="">-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<label class="col-sm-1 control-label"></label>&ndash;&gt;-->

                    <!--<span style="float: left;line-height: 34px;font-size: 20px">&#45;&#45;</span>-->
                    <!--<div class=" col-sm-2 ">-->
                        <!--<input class="form-control" ng-model="queryParam.withdrawalLumpSumEnd" placeholder="">-->
                    <!--</div>-->

               <!--</div>-->
            <div class="form-group">
                <label class="col-sm-1 control-label">彩种选择</label>
                <div class="col-sm-5">
                    <ui-select multiple ng-model="selectParam.lotterySelected"
                               ng-disabled="false"
                               search-enabled="true"
                               append-to-body="true"
                               class="form-control btn-group bootstrap-select">
                        <ui-select-match placeholder="请选择彩种">
                            {{$item.value}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in selectParam.lottery | filter: $select.search | filter: {sideType:2}">
                            {{item.value}}
                        </ui-select-choices>
                    </ui-select>

                </div>
            </div>
                <div class="form-group align-right">
                    <div class="col-sm-10" >
                        <button type="submit" class="btn btn-primary  btn-with-icon" style="margin-top: 0;"
                                ng-click="dateFun(0)">今天
                        </button>
                        <button type="submit" class="btn btn-primary  btn-with-icon" style="margin-top: 0;"
                                ng-click="dateFun(1)">昨天
                        </button>
                        <button type="submit" class="btn btn-primary  btn-with-icon" style="margin-top: 0;"
                                ng-click="dateFun(2)">上周
                        </button>
                        <button type="submit" class="btn btn-primary  btn-with-icon" style="margin-top: 0;"
                                ng-click="dateFun(3)">本周
                        </button>
                        <button type="submit" class="btn btn-primary  btn-with-icon" style="margin-top: 0;"
                                ng-click="dateFun(4)">上月
                        </button>
                        <button type="submit" class="btn btn-primary  btn-with-icon" style="margin-top: 0;"
                                ng-click="dateFun(5)">本月
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <a ng-click="onReset()">重置</a>
                        <button type="submit" class="btn btn-primary  btn-with-icon" ng-click="onSearch()"><i
                                class="ion-search"></i>搜索
                        </button>
                    </div>


                </div>
         </div>
        </form>
    </div>
    <div ba-panel ba-panel-title="代理下注总览">
        <table class="table table-hover">
            <thead>
            <tr class="black-muted-bg">
                <th>代理数量</th>
                <th>总注单数</th>
                <th>总投注额</th>
                <th>总有效投注额</th>
                <th>总返点</th>
                <th>总派奖</th>
                <th>总损益</th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <td>{{!summary.count?0:summary.count }}</td>
                <td>{{!summary.orderNum?0:summary.orderNum}}</td>
                <td>{{!summary.totalBetAmount?0:summary.totalBetAmount/ 100 | number :2}}</td>
                <td>{{!summary.totalEffectiveBetAmount?0:summary.totalEffectiveBetAmount/ 100 | number :2}}</td>
                <td>{{!summary.totalReforwardPoint?0:summary.totalReforwardPoint / 100 | number :2}}</td>
                <td>{{!summary.totalPayoff?0:summary.totalPayoff/ 100 | number :2}}</td>
                <td>{{!summary.totalGainLost?0:summary.totalGainLost/ 100 | number :2}}</td>
            </tr>
            </tbody>
            <tbody ng-if="summary == null">
            <tr>
                <td colspan="13">暂无数据</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div ba-panel ba-panel-class="">
        <table class="table table-hover">
            <thead>
            <tr class="black-muted-bg">
                <th>序号</th>
                <th>代理帐号</th>
                <th>总注单数</th>
                <th>总投注额</th>
                <th>总有效投注额</th>
                <th>总返点</th>
                <th>总派奖</th>
                <th>总损益</th>

            </tr>
            </thead>
            <tbody ng-if="entity != null && entity.length >0">
            <tr ng-repeat="item in entity">
                <td>{{$index+1}}</td>
                <td><a ng-click="gogogo(item)">{{item.agent}}</a></td>
                <td>{{!item.orderNum?0:item.orderNum}}</td>
                <td>{{!item.amount ? 0:item.amount/100 | number :2}}</td>
                <td>{{!item.effectiveBetAmount? 0 :item.effectiveBetAmount /100 | number :2}}</td>
                <td>{{!item.refarwardPoint ? 0:item.refarwardPoint /100 | number :2}}</td>
                <td>{{!item.payOff? 0:item.payOff/100 | number :2}}</td>
                <td>{{!item.gainLost?0:item.gainLost/100 | number :2}}</td>
            </tr><tr>
                <td></td>
                <td>小计</td>
                <td>{{!oldsummary.orderNum?0:oldsummary.orderNum}}</td>
                <td>{{!oldsummary.amount?0:oldsummary.amount/ 100 | number :2}}</td>
                <td>{{!oldsummary.effectiveBetAmount?0:oldsummary.effectiveBetAmount/ 100 | number :2}}</td>
                <td>{{!oldsummary.totalReforwardPoint?0:oldsummary.totalReforwardPoint / 100 | number :2}}</td>
                <td>{{!oldsummary.payOff?0:oldsummary.payOff/ 100 | number :2}}</td>
                <td>{{!oldsummary.gainLost?0:oldsummary.gainLost/ 100 | number :2}}</td>

            </tr>
            <tr>
                <td></td>
                <td>总计</td>
                <td>{{!summary.orderNum?0:summary.orderNum}}</td>
                <td>{{!summary.totalBetAmount?0:summary.totalBetAmount/ 100 | number :2}}</td>
                <td>{{!summary.totalEffectiveBetAmount?0:summary.totalEffectiveBetAmount/ 100 | number :2}}</td>
                <td>{{!summary.totalReforwardPoint?0:summary.totalReforwardPoint / 100 | number :2}}</td>
                <td>{{!summary.totalPayoff?0:summary.totalPayoff/ 100 | number :2}}</td>
                <td>{{!summary.totalGainLost?0:summary.totalGainLost/ 100 | number :2}}</td>
            </tr>
            </tbody>
            <tbody ng-if="entity == null || entity.length ==0">
            <tr>
                <td colspan="13">暂无数据</td>
            </tr>
            </tbody>
        </table>
        <div id="page"></div>
    </div>
</div>