<div class="widgets" ng-controller="MembersReturnLevels">
    <uib-tabset active="$tabSetStatus.activeTab">
        <uib-tab heading="按账号检索" ng-click="openTab(1)">
            <div ba-panel ba-panel-class="">
                <form class="form-horizontal">
                    <div class="form-group" style="margin-bottom:0px;">
                        <label class="col-sm-1 control-label">请输入账号</label>
                        <div class=" col-sm-6 ">
                            <input class="form-control" ng-model="selectParam.logins" placeholder="请输入账号，多个帐号以','号隔开"
                            >
                        </div>

                        <!--<div class="" style="line-height: 45px;padding-left: 25px">
                            <button type="button" class="btn btn-primary btn-with-icon"
                                    ng-click="uploadFile($index,item)">文件导入
                            </button>
                            <span><i style="color: red;font-size: 18px">*</i>支持xls和csv格式(多个帐号以半角逗号隔开)</span>
                        </div>-->

                        <div class=" col-sm-5 align-right">
                            <a ng-click="onReset()">重置</a>
                            <button type="submit" class="btn btn-primary  btn-with-icon" ng-click="showMoreFilter(1)"><i
                                    class="fa fa-angle-down " ng-class="{'flip':flag}"></i>更多筛选
                            </button>
                            <button type="submit" class="btn btn-primary  btn-with-icon" ng-click="onSearch1()"><i
                                    class="ion-search"></i>搜索
                            </button>
                            <button type="submit" class="btn btn-primary  btn-with-icon" ng-click="openEdit1()">分层回归
                            </button>
                        </div>


                    </div>


                    <div class="" ng-show="accountFlag" style="padding-top: 30px">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">存款次数</label>
                            <div class=" col-sm-2 ">
                                <input class="form-control" ng-model="queryParam.depositCountStart" placeholder="">
                            </div>
                            <!--<label class="col-sm-1 control-label"></label>-->
                            <span style="float: left;line-height: 34px;font-size: 20px">--</span>
                            <div class=" col-sm-2 ">
                                <input class="form-control" ng-model="queryParam.depositCountEnd" placeholder="">
                            </div>
                            <label class="col-sm-1 control-label"></label>
                            <label class="col-sm-1 control-label">充值总额</label>
                            <div class=" col-sm-2 ">
                                <input class="form-control" ng-model="queryParam.depositLumpSumStart" placeholder="">
                            </div>
                            <!--<label class="col-sm-1 control-label"></label>-->
                            <span style="float: left;line-height: 34px;font-size: 20px">--</span>
                            <div class=" col-sm-2 ">
                                <input class="form-control" ng-model="queryParam.depositLumpSumEnd" placeholder="">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-1 control-label">取款次数</label>
                            <div class=" col-sm-2 ">
                                <input class="form-control" ng-model="queryParam. withdrawalCountStart" placeholder="">
                            </div>
                            <!--<label class="col-sm-1 control-label">&#45;&#45;&#45;&#45;</label>-->
                            <span style="float: left;line-height: 34px;font-size: 20px">--</span>
                            <div class=" col-sm-2 ">
                                <input class="form-control" ng-model="queryParam.withdrawalCountEnd" placeholder="">
                            </div>
                            <label class="col-sm-1 control-label"></label>
                            <label class="col-sm-1 control-label">提款总额</label>
                            <div class=" col-sm-2 ">
                                <input class="form-control" ng-model="queryParam.withdrawalLumpSumStart" placeholder="">
                            </div>
                            <!--<label class="col-sm-1 control-label"></label>-->

                            <span style="float: left;line-height: 34px;font-size: 20px">--</span>
                            <div class=" col-sm-2 ">
                                <input class="form-control" ng-model="queryParam.withdrawalLumpSumEnd" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">注册时间</label>
                            <div class=" col-sm-2 ">
                                <!--添加指令（so-date）指定id type="text"-->
                                <input id="startTime" so-date type="text" class="form-control" placeholder="开始时间"
                                       ng-model="selectParam.startTime"/>
                            </div>
                            <!--<label class="col-sm-1 control-label">结束时间</label>-->
                            <span style="float: left;line-height: 34px;font-size: 20px">--</span>
                            <div class=" col-sm-2 ">
                                <!--添加指令（so-date）指定id type="text"-->
                                <input type="text" id="endTime" class="form-control" placeholder="结束时间"
                                       ng-model="selectParam.endTime"/>
                            </div>
                            <label class="col-sm-1 control-label"></label>
                            <label class="col-sm-1 control-label">状态</label>
                            <div class=" col-sm-2 ">
                                <ui-select ng-model="selectParam.statusSelected"
                                           class="btn-group bootstrap-select form-control"
                                           ng-disabled="false"
                                           append-to-body="true"
                                           search-enabled="false">
                                    <ui-select-match placeholder="请选择">
                                        <span>{{$select.selected.value}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in selectParam.status | filter: $select.search">
                                        <span ng-bind-html="item.value"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
            <div ba-panel ba-panel-class="">

                <table class="table table-hover">
                    <thead>
                    <tr class="black-muted-bg">
                        <th><label class="custom-checkbox " style="margin-left: 20px">
                            <input type="checkbox" id="accountSeltct" style="line-height: 60px" name="serialNumber1" ng-model="accountSeltctAllFlag" ng-click="accountSeltctAll($event)">
                            <span>全选</span>
                        </label></th>
                        <th>序号</th>
                        <th>会员帐号</th>
                        <th>所属代理</th>
                        <th>会员层级</th>
                        <th>存款次数</th>
                        <th>存款总额</th>
                        <th>最大存款数额</th>
                        <th>取款次数</th>
                        <th>取款总额</th>
                        <th>余额</th>
                        <th>注册时间</th>
                    </tr>
                    </thead>
                    <tbody ng-if="entity != null || entity.length >0">
                    <tr ng-repeat="item in entity">
                        <td><label class="custom-checkbox ">
                            <input type="checkbox" name="serialNumber1" ng-model="item.flag" ng-click="selectCurCid(item)">
                            <span></span>
                        </label>
                        </td>
                        <td>{{$index+1}}</td>
                        <td>{{item.login}}</td>
                        <td>{{item.agentAccount}}</td>
                        <td>{{item.levelName}}</td>
                        <td>{{!item.chargeAmountNum? 0:item.chargeAmountNum}}</td>
                        <td>{{!item.chargeAmount?0:item.chargeAmount/ 100 | number :2}}</td>
                        <td>{{!item.chargeAmountMax?0:item.chargeAmountMax / 100 | number :2}}</td>
                        <td>{{!item.drawAmountNum?0:item.drawAmountNum}}</td>
                        <td>{{!item.drawAmount?0:item.drawAmount / 100 | number :2 }}</td>
                        <td>{{item.balance/ 100 | number :2}}</td>
                        <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>

                    </tr>
                    </tbody>
                    <tbody ng-if="entity == null || entity.length ==0">
                    <tr>
                        <td colspan="14">暂无数据</td>
                    </tr>
                    </tbody>
                </table>
                <div id="page-1"></div>
            </div>
        </uib-tab>
        <uib-tab heading="按层级检索" ng-click="openTab(2)">
            <div ba-panel ba-panel-class="">
                <form class="form-horizontal">
                    <div class="form-group" style="margin-bottom:0px;">
                        <label class=" col-sm-1 control-label">会员层级</label>
                        <div class=" col-sm-6">
                            <ui-select multiple ng-model="selectParam.memberLevelSelected"
                                       ng-disabled="false"
                                       search-enabled="true"
                                       append-to-body="true"
                                       class="form-control btn-group bootstrap-select">
                                <ui-select-match placeholder="请选择会员层级">
                                    {{$item.value}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in selectParam.memberLevel ">
                                    {{item.value}}
                                </ui-select-choices>
                            </ui-select>

                        </div>

                        <div class=" col-sm-5 align-right">
                            <a ng-click="onReset()">重置</a>
                            <button type="submit" class="btn btn-primary  btn-with-icon" ng-click="showMoreFilter(2)"><i
                                    class="fa fa-angle-down " ng-class="{'flip':flag}"></i>更多筛选
                            </button>
                            <button type="submit" class="btn btn-primary  btn-with-icon" ng-click="onSearch2()"><i
                                    class="ion-search"></i>搜索
                            </button>
                            <button type="submit" class="btn btn-primary  btn-with-icon" ng-click="openEdit2()">分层回归
                            </button>
                        </div>


                    </div>
                    <div class="" ng-show="levelFlag" style="padding-top: 30px">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">存款次数</label>
                            <div class=" col-sm-2 ">
                                <input class="form-control" ng-model="levelQueryParam.depositCountStart" placeholder="">
                            </div>
                            <!--<label class="col-sm-1 control-label"></label>-->
                            <span style="float: left;line-height: 34px;font-size: 20px">--</span>
                            <div class=" col-sm-2 ">
                                <input class="form-control" ng-model="levelQueryParam.depositCountEnd" placeholder="">
                            </div>
                            <label class="col-sm-1 control-label"></label>
                            <label class="col-sm-1 control-label">充值总额</label>
                            <div class=" col-sm-2 ">
                                <input class="form-control" ng-model="levelQueryParam.depositLumpSumStart" placeholder="">
                            </div>
                            <!--<label class="col-sm-1 control-label"></label>-->
                            <span style="float: left;line-height: 34px;font-size: 20px">--</span>
                            <div class=" col-sm-2 ">
                                <input class="form-control" ng-model="levelQueryParam.depositLumpSumEnd" placeholder="">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-1 control-label">取款次数</label>
                            <div class=" col-sm-2 ">
                                <input class="form-control" ng-model="levelQueryParam.withdrawalCountStart" placeholder="">
                            </div>
                            <!--<label class="col-sm-1 control-label">&#45;&#45;&#45;&#45;</label>-->
                            <span style="float: left;line-height: 34px;font-size: 20px">--</span>
                            <div class=" col-sm-2 ">
                                <input class="form-control" ng-model="levelQueryParam.withdrawalCountEnd" placeholder="">
                            </div>
                            <label class="col-sm-1 control-label"></label>
                            <label class="col-sm-1 control-label">提款总额</label>
                            <div class=" col-sm-2 ">
                                <input class="form-control" ng-model="levelQueryParam. withdrawalLumpSumStart" placeholder="">
                            </div>
                            <!--<label class="col-sm-1 control-label"></label>-->

                            <span style="float: left;line-height: 34px;font-size: 20px">--</span>
                            <div class=" col-sm-2 ">
                                <input class="form-control" ng-model="levelQueryParam.withdrawalLumpSumEnd" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">注册时间</label>
                            <div class=" col-sm-2 ">
                                <!--添加指令（so-date）指定id type="text"-->
                                <input id="startTime2" so-date type="text" class="form-control" placeholder="开始时间"
                                       ng-model="selectParam.startTime"/>
                            </div>
                            <!--<label class="col-sm-1 control-label">结束时间</label>-->
                            <span style="float: left;line-height: 34px;font-size: 20px">--</span>
                            <div class=" col-sm-2 ">
                                <!--添加指令（so-date）指定id type="text"-->
                                <input type="text" id="endTime2" class="form-control" placeholder="结束时间"
                                       ng-model="selectParam.endTime"/>
                            </div>
                            <label class="col-sm-1 control-label"></label>
                            <label class="col-sm-1 control-label">状态</label>
                            <div class=" col-sm-2 ">
                                <ui-select ng-model="selectParam.statusSelected"
                                           class="btn-group bootstrap-select form-control"
                                           ng-disabled="false"
                                           append-to-body="true"
                                           search-enabled="false">
                                    <ui-select-match placeholder="请选择">
                                        <span>{{$select.selected.value}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in selectParam.status | filter: $select.search">
                                        <span ng-bind-html="item.value"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
            <div ba-panel ba-panel-class="">
                <table class="table table-hover">
                    <thead>
                    <tr class="black-muted-bg">
                        <th><label class="custom-checkbox "  style="margin-left: 20px;" >
                            <input type="checkbox" id="levelSeltctAll" style="line-height: 60px" name="serialNumber" ng-model="levelSeltctAllFlag" ng-click="levelSeltctAll($event)">
                            <span>全选</span>
                        </label></th>
                        <th>序号</th>
                        <th>会员帐号</th>
                        <th>所属代理</th>
                        <th>会员层级</th>
                        <th>存款次数</th>
                        <th>存款总额</th>
                        <th>最大存款数额</th>
                        <th>取款次数</th>
                        <th>取款总额</th>
                        <th>余额</th>
                        <th>注册时间</th>
                    </tr>
                    </thead>
                    <tbody ng-if="levelEntity != null || levelEntity.length >0">
                    <tr ng-repeat="item in levelEntity">
                        <td><label class="custom-checkbox ">
                            <input type="checkbox" name="serialNumber" ng-model="item.flag" ng-click="selectlevelCurCid(item)">
                            <span></span>
                        </label>
                        </td>
                        <td>{{ $index+1}}</td>
                        <td>{{item.login}}</td>
                        <td>{{item.agentAccount}}</td>
                        <td>{{item.levelName}}</td>
                        <td>{{!item.chargeAmountNum? 0:item.chargeAmountNum}}</td>
                        <td>{{!item.chargeAmount?0:item.chargeAmount/ 100 | number :2}}</td>
                        <td>{{!item.chargeAmountMax?0:item.chargeAmountMax / 100 | number :2}}</td>
                        <td>{{!item.drawAmountNum?0:item.drawAmountNum}}</td>
                        <td>{{!item.drawAmount?0:item.drawAmount / 100 | number :2 }}</td>
                        <td>{{item.balance/ 100 | number :2}}</td>
                        <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
                    </tbody>
                    <tbody ng-if="entity == null || entity.length ==0">
                    <tr>
                        <td colspan="14">暂无数据</td>
                    </tr>
                    </tbody>
                </table>
                <div id="page-2"></div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<style>

    .flip {
        transition: all 0.5s;
        transform: rotate(180deg);
    }
</style>