<div class="modal-content" ng-controller="MembersReturnLevelsEdit">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">会员分层回归</h4>
    </div>
    <div class="modal-body" >
        <div class="" style="margin: 20px 0 50px 80px">
            <label class=" control-label" style="float: left;line-height: 34px">会员层级</label>
            <div class=" col-sm-8 ">
                <ui-select ng-model="selectParam.memberLevelSelected"
                           class="btn-group bootstrap-select form-control"
                           ng-disabled="false"
                           append-to-body="false"
                           search-enabled="false" required="false"
                           style="z-index: 9999999"
                      >
                    <ui-select-match placeholder="请选择会员层级">
                        <span> {{$select.selected.value}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in selectParam.memberLevel | filter: $select.search">
                        <span ng-bind-html="item.value"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

    </div>
    <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-primary btn-with-icon" ng-click="onSave()" ><i
                class="ion-checkmark"></i>确认
        </button>
        <button type="button" class="btn btn-primary btn-with-icon" ng-click="$dismiss()"><i
                class="ion-android-exit"></i>取消
        </button>
    </div>
</div>

<style>
    #modal-footer{
        padding-top: 25px;
        padding-bottom: 20px;
    }
</style>
