<div class="widgets" ng-controller="memberFeedbackStatistics">
    <div class="row ">
        <div class="col-sm-12" ba-panel ba-panel-title="" ba-panel-class="with-scroll">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 control-label">代理帐号</label>
                <div class=" col-sm-2 ">
                    <input class="form-control" ng-model="queryParam.agentAccount" placeholder="">
                </div>

                <label class=" col-sm-1 control-label">会员层级</label>
                <div class=" col-sm-2">
                    <ui-select multiple ng-model="selectParam.memberLevelSelected"
                               ng-disabled="false"
                               search-enabled="true"
                               append-to-body="true"
                               class="form-control btn-group bootstrap-select">
                        <ui-select-match placeholder="请选择会员层级">
                            {{$item.value}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in selectParam.memberLevel ">
                            {{item.value}}
                        </ui-select-choices>
                    </ui-select>

                </div>
                <label class="col-sm-1 control-label">开始时间</label>
                <div class="col-sm-2">
                    <!--添加指令（so-date）指定id type="text"-->
                    <input id="startTime" so-date type="text" class="form-control " placeholder="开始时间"
                           ng-model="selectParam.startTime"/>
                </div>
                <label class="col-sm-1 control-label">结束时间</label>
                <div class=" col-sm-2 ">
                    <!--添加指令（so-date）指定id type="text"-->
                    <input type="text" id="endTime" class="form-control  " placeholder="结束时间"
                           ng-model="selectParam.endTime"/>
                </div>
            </div>
            <div class="form-group align-right">
                <div class="col-sm-10" >
                    <button type="submit" class="btn btn-primary  btn-with-icon" style="margin-top: 0;"
                            ng-click="dateFun(1)">昨天
                    </button>
                    <button type="submit" class="btn btn-primary  btn-with-icon" style="margin-top: 0;"
                            ng-click="dateFun(2)">上周
                    </button>
                    <button type="submit" class="btn btn-primary  btn-with-icon" style="margin-top: 0;"
                            ng-click="dateFun(3)">本周
                    </button>
                    <button type="submit" class="btn btn-primary  btn-with-icon" style="margin-top: 0;"
                            ng-click="dateFun(4)">上月
                    </button>
                    <button type="submit" class="btn btn-primary  btn-with-icon" style="margin-top: 0;"
                            ng-click="dateFun(5)">本月
                    </button>
                </div>
                <div class="col-sm-2">
                    <a ng-click="onReset()">重置</a>
                    <button type="submit" class="btn btn-primary  btn-with-icon" ng-click="onSearch()"><i
                            class="ion-search"></i>搜索
                    </button>
                </div>


            </div>

        </form>
    </div>
    </div>
    <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
        <div class="horizontal-scroll">
            <table class="table table-hover">
                <thead>
                <tr class="black-muted-bg">
                    <th>序号</th>
                    <th>所属代理</th>
                    <th>有效投注总额</th>
                    <th>奖金总额</th>
                    <th>返水总额</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody ng-if="entity != null || entity.length >0">
                <tr ng-repeat="item in entity">
                    <td>{{$index+1}}</td>
                    <td>{{item.agentAccount}}</td>
                    <td>{{item.validBetAmount/100 | number :2 }}</td>
                    <td>{{item.payoff/100 | number :2}}</td>
                    <td>{{item.cashBackAmount/100 | number :2}}</td>
                    <td><a ng-click="gogogo(item)">详情</a></td>

                </tr>
                <tr>
                    <td>小计</td>
                    <td></td>
                    <td>{{summary.subValidBetAmount /100 | number :2 }}</td>
                    <td>{{summary.subPayoff /100 | number :2 }}</td>
                    <td>{{summary.subCashBackAmount /100 | number :2 }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>总计</td>
                    <td></td>
                    <td>{{summary.totalValidBetAmount /100 | number :2 }}</td>
                    <td>{{summary.totalPayoff /100 | number :2 }}</td>
                    <td>{{summary.totalCashBackAmount /100 | number :2 }}</td>
                    <td></td>
                </tr>
                </tbody>
                <tbody ng-if="entity == null || entity.length ==0">
                <tr>
                    <td colspan="13">暂无数据</td>
                </tr>
                </tbody>

            </table>
        </div>
        <div id="page"></div>
    </div>
</div>