<div class="widgets" ng-controller="memberFeedbackDetails">
    <div class="row ">
        <div class="col-sm-12" ba-panel ba-panel-title="" ba-panel-class="with-scroll">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1 control-label">返水编号</label>
                    <div class=" col-sm-2 ">
                        <input class="form-control" ng-model="queryParam.cashBackId" placeholder="">
                    </div>
                    <label class="col-sm-1 control-label">开始时间</label>
                    <div class="col-sm-2">
                        <!--添加指令（so-date）指定id type="text"-->
                        <input id="startTime" so-date type="text" class="form-control " placeholder="开始时间"
                               ng-model="selectParam.startTime"/>
                    </div>
                    <label class="col-sm-1 control-label">结束时间</label>
                    <div class=" col-sm-2 ">
                        <!--添加指令（so-date）指定id type="text"-->
                        <input type="text" id="endTime" class="form-control  " placeholder="结束时间"
                               ng-model="selectParam.endTime"/>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">彩种名称</label>
                    <div class=" col-sm-2 ">
                        <ui-select ng-model="selectParam.lotterySelected"
                                   class="btn-group bootstrap-select form-control" ng-disabled="false"
                                   append-to-body="true"
                                   search-enabled="false">
                            <ui-select-match placeholder="请选择">
                                <span> {{$select.selected.value}}</span>
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="e in selectParam.lottery |filter: {sideType:2}|  filter: $select.search">
                                <span ng-bind-html="e.value"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group align-right">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary  btn-with-icon" style="margin-top: 0;"
                                ng-click="dateFun(1)">昨天
                        </button>
                        <button type="submit" class="btn btn-primary  btn-with-icon" style="margin-top: 0;"
                                ng-click="dateFun(2)">上周
                        </button>
                        <button type="submit" class="btn btn-primary  btn-with-icon" style="margin-top: 0;"
                                ng-click="dateFun(3)">本周
                        </button>
                        <button type="submit" class="btn btn-primary  btn-with-icon" style="margin-top: 0;"
                                ng-click="dateFun(4)">上月
                        </button>
                        <button type="submit" class="btn btn-primary  btn-with-icon" style="margin-top: 0;"
                                ng-click="dateFun(5)">本月
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <a ng-click="onReset()">重置</a>
                        <button type="submit" class="btn btn-primary  btn-with-icon" ng-click="onSearch()"><i
                                class="ion-search"></i>搜索
                        </button>
                    </div>


                </div>

            </form>
        </div>
    </div>
    <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
        <div class="horizontal-scroll">
            <table class="table table-hover">
                <thead>
                <tr class="black-muted-bg">
                    <th>序号</th>
                    <th>返水编号</th>
                    <th>会员帐号</th>
                    <th>所属代理</th>
                    <th>所属层级</th>
                    <th>有效投注总额</th>
                    <th>奖金总额</th>
                    <th>返水总额</th>
                    <th>返水结算时间</th>
                    <th>状态</th>
                    <th>操作人</th>
                    <th>操作时间</th>
                </tr>
                </thead>
                <tbody ng-if="entity != null || entity.length >0">
                <tr ng-repeat="item in entity">
                    <td>{{$index+1}}</td>
                    <td>{{item.cashBackId}}</td>
                    <td>{{item.memberAccount}}</td>
                    <td>{{item.agentAccount}}</td>
                    <td>{{item.levelName}}</td>
                    <td>{{item.validBetAmount/100 | number :2}}</td>
                    <td>{{item.payoff /100 | number :2}}</td>
                    <td>{{item.cashBackAmount /100 | number :2}}</td>
                    <td>{{item.pdate.toString().slice(0,4) }}-{{item.pdate.toString().slice(4,6) }}-{{item.pdate.toString().slice(6,8) }}</td>
                    <td>{{item.status==0 ? '未返还' : '成功'}}</td>
                    <td>{{item.createUserName=='-' ? '系统': item.createUserName}}</td>
                    <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>

                </tr>
                <tr>
                    <td>小计</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><!--{{summary.subValidBetAmount /100 | number :2 }}--></td>
                    <td><!--{{summary.subPayoff /100 | number :2 }}--></td>
                    <td>{{summary.subCashBackAmount /100 | number :2 }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>总计</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><!--{{summary.totalValidBetAmount /100 | number :2 }}--></td>
                    <td><!--{{summary.totalPayoff /100 | number :2 }}--></td>
                    <td>{{summary.totalCashBackAmount /100 | number :2 }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
                <tbody ng-if="entity == null || entity.length ==0">
                <tr>
                    <td colspan="13">暂无数据</td>
                </tr>
                </tbody>

            </table>
        </div>
        <div id="page"></div>
    </div>
</div>