<div class="widgets" ng-controller="retirement">
    <div ba-panel ba-panel-class="">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">退佣方案名称</label>
                <div class="col-sm-3">
                    <input class="form-control" ng-model="queryParam.name" placeholder="">
                </div>
                <div class="col-sm-7  align-right">
                    <a ng-click="onReset()">重置</a>
                    <button type="submit" class="btn btn-primary  btn-with-icon" ng-click="onSearch()"><i
                            class="ion-search"></i>搜索
                    </button>
                    <button type="button" class="btn btn-primary  btn-with-icon" data-toggle="modal"
                            ng-click="openEdit(true,null)"><i class="ion-plus"></i>新增退佣方案
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div ba-panel ba-panel-class="">
        <table class="table table-hover">
            <thead>
            <tr class="black-muted-bg">
                <th>序号</th>
                <th>退佣方案名称</th>
                <th>有效会员数量</th>
                <th>当期有效投注额</th>
                <th>当期盈利金额</th>
                <th>退佣比例</th>
                <th>创建时间</th>
                <th>创建人</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody ng-if="entity != null && entity.length >0">
            <tr ng-repeat="item in entity">
                <td>{{$index+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.effMemberNum }}</td>
                <td>{{item.currentEffBet /100 | number : 2}}</td>
                <td>{{item.currentProfit /100 | number : 2}}</td>
                <td>
                    <a ng-click="openEdit(false,item)">查看</a>
                </td>
                <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{item.createUsername}}</td>
                <td ng-style="{color:item.status==0?'red':''}">{{item.status | formatConfigStatus}}</td>
                <td>
                    <button class="status-button btn btn-xs btn-{{item.status == 1?'danger':'info'}}"
                            ng-click="onStatus(item)">{{item.status==1?'停用':'启用'}}
                    </button>
                    <button class="status-button btn btn-xs btn-info" data-toggle="modal"
                            ng-click="openEdit(true,item)">修改
                    </button>
                </td>
            </tr>
            </tbody>
            <tbody ng-if="entity == null || entity.length ==0">
            <tr>
                <td colspan="11">暂无数据</td>
            </tr>
            </tbody>
        </table>
        <div id="page"></div>
    </div>
</div>
