<div class="widgets" ng-controller="accountSettingsCtrl">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="" ba-panel-class="with-scroll">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1 control-label">状态</label>
                    <div class="col-sm-2">
                        <ui-select ng-model="selectParam.statued" class="btn-group bootstrap-select form-control"
                                   ng-disabled="false" append-to-body="true"
                                   search-enabled="false">
                            <ui-select-match placeholder="请选择">
                                <span> {{$select.selected.value}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="e in selectParam.statues">
                                <span ng-bind-html="e.value"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class=" col-sm-9 align-right">
                        <button type="submit" class="btn btn-primary  btn-with-icon " ng-click="onSearch()">
                            <i class="ion-search"></i>搜索
                        </button>
                        <button type="button" class="btn btn-primary  btn-with-icon" data-toggle="modal"
                                ng-click="openAdd()">
                            <i class="ion-plus"></i>新增
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
                <table class="table table-hover">
                    <thead>
                    <tr class="black-muted-bg">
                        <th>序号</th>
                        <th>会员层级</th>
                        <th>银行名称</th>
                        <th>开户行</th>
                        <th>银行账号</th>
                        <th>收款人</th>
                        <th>汇款备注信息</th>
                        <th>已累计金额</th>
                        <th>停用金额</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" ng-repeat="e in entity">
                        <td>{{$index+1}}</td>
                        <td >
                           <span ng-repeat="item in e.userLevels">{{item.value}}. </span>
                        </td>
                        <td>{{e.bankName}}</td>
                        <td>{{e.registerBankInfo}}</td>
                        <td>{{e.cardNo}}</td>
                        <td>{{e.cardOwnerName}}</td>
                        <td>{{e.transferRemark}}</td>
                        <td>{{e.incomeAmount/100|number:2}}</td>
                        <td>{{e.stopAmount /100|number:2}}</td>
                        <td ng-style="{'color':e.status== 0?'red':''}">{{e.status | formatConfigStatus}}</td>
                        <td>
                            <button class="status-button btn btn-xs btn-{{e.status == 1?'danger':'info'}}"
                                    ng-click="onSave(e)">{{e.status == 1?'停用':'启用'}}
                            </button>
                            <button class="status-button btn btn-xs btn-info"
                                    ng-click="openEdit(e)">修改
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-if="entity == null || entity.length ==0">
                    <tr>
                        <td colspan="11">暂无数据</td>
                    </tr>
                    </tbody>
                </table>
                <div id="page"></div>
            </div>
        </div>
    </div>
</div>