<div class="widgets" ng-controller="custConfig">
    <div ba-panel ba-panel-class="">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 control-label">H5端客服</label>
                <div class="col-sm-4">
                    <input class="form-control" ng-model="entity.h5CustUrl" placeholder="">
                </div>
                <button type="button" class="btn btn-primary btn-with-icon" ng-click="onSave()"><i
                        class="ion-android-checkmark-circle"></i>修改
                </button>
            </div>
        </form>
    </div>
</div>