<div class="widgets" ng-controller="site">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="" ba-panel-class="with-scroll">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">H5站点名称</label>
                    <div class="col-sm-4">
                        <div class="">
                            <input class="form-control" placeholder="" ng-model="entity.h5Name">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">H5站点页签icon</label>
                    <div id="iconImg" class="col-sm-5 img-white">
                        {{entity.iconUrl}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">H5站点logo</label>
                    <div id="logoImg"  class="col-sm-5 img-white">
                        {{entity.logoUrl}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">H5站点网址</label>
                    <div class="col-sm-4">
                        <div class="">
                            <input class="form-control" placeholder="" ng-model="entity.h5SiteUrl" type="url">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!--<label class="col-sm-3 control-label"></label>-->
                    <div class="col-sm-offset-2 col-sm-2">
                        <button type="button" class="btn btn-primary btn-with-icon" ng-click="onSave()"><i
                                class="ion-android-checkmark-circle"></i>提交新信息审核
                        </button>
                    </div>
                </div>
                <div class="form-group" ng-if="false">
                    <!--<label class="col-sm-3 control-label"></label>-->
                    <div class="alert bg-info col-sm-offset-2 col-sm-4">
                        <strong>提示：</strong> <br>
                        新名称、logo已提交，正在等待审核！
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
