<div class="widgets" ng-controller="userLogManageCtrl">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="" ba-panel-class="with-scroll">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1 control-label">管理员账号</label>
                    <div class="col-sm-2">
                        <input class="form-control" ng-model="queryParam.account" placeholder="">
                    </div>

                    <label class="col-sm-1 control-label">日志类型</label>
                    <div class="col-sm-2">
                        <input class="form-control" ng-model="queryParam.nickName" placeholder="">
                    </div>

                    <label class="col-sm-1 control-label">开始时间</label>
                    <div class="col-sm-2">
                        <input id="startTime" so-date type="text" class="form-control" ng-model="selectParam.startTime"
                               placeholder="开始时间"/>
                    </div>
                    <label class="col-sm-1 control-label">结束时间</label>
                    <div class="col-sm-2">
                        <input id="endTime" type="text" class="form-control" ng-model="selectParam.endTime"
                               placeholder="结束时间"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">选择时间段</label>
                    <div class="col-sm-2">
                        <ui-select ng-model="selectParam.dateSelected"
                                   class="btn-group bootstrap-select form-control"
                                   ng-disabled="false"
                                   append-to-body="true"
                                   search-enabled="false">
                            <ui-select-match placeholder="请选择">
                                <span>{{$select.selected.dateName}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in selectParam.fastDate | filter: $select.search">
                                <span ng-bind-html="item.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class=" col-sm-9  align-right">
                        <a ng-click="onReset()">重置</a>
                        <button type="submit" class="btn btn-primary  btn-with-icon" ng-click="userSearch()"><i
                                class="ion-search"></i>搜索
                        </button>
                        <button type="button" class="btn btn-primary  btn-with-icon" ng-click="onExport()"><i
                                class="ion-ios-cloud-download"></i>导出
                        </button>
                    </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="  " ba-panel-class="with-scroll">
            <table class="table table-hover">
                <thead>
                <tr class="black-muted-bg">
                    <th>序号</th>
                    <th>管理员账号</th>
                    <th>操作时间</th>
                    <th>IP地址</th>
                    <th>日志类型</th>
                    <th>日志内容</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in userList">
                    <td>{{$index+1}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="10" class="text-center">
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div id="page"></div>
    </div>
</div>
</div>
