.sodate-date a, .sodate-date abbr, .sodate-date acronym, .sodate-date address, .sodate-date applet, .sodate-date article, .sodate-date aside, .sodate-date audio, .sodate-date b, .sodate-date big, .sodate-date blockquote, .sodate-date body, .sodate-date canvas, .sodate-date caption, .sodate-date center, .sodate-date cite, .sodate-date code, .sodate-date dd, .sodate-date del, .sodate-date details, .sodate-date dfn, .sodate-date div, .sodate-date dl, .sodate-date dt, .sodate-date em, .sodate-date embed, .sodate-date fieldset, .sodate-date figcaption, .sodate-date figure, .sodate-date footer, .sodate-date form, .sodate-date h1, .sodate-date h2, .sodate-date h3, .sodate-date h4, .sodate-date h5, .sodate-date h6, .sodate-date header, .sodate-date hgroup, .sodate-date html, .sodate-date i, .sodate-date iframe, .sodate-date img, .sodate-date ins, .sodate-date kbd, .sodate-date label, .sodate-date legend, .sodate-date li, .sodate-date mark, .sodate-date menu, .sodate-date nav, .sodate-date object, .sodate-date ol, .sodate-date output, .sodate-date p, .sodate-date pre, .sodate-date q, .sodate-date ruby, .sodate-date s, .sodate-date samp, .sodate-date section, .sodate-date small, .sodate-date span, .sodate-date strike, .sodate-date strong, .sodate-date sub, .sodate-date summary, .sodate-date sup, .sodate-date table, .sodate-date tbody, .sodate-date td, .sodate-date tfoot, .sodate-date th, .sodate-date thead, .sodate-date time, .sodate-date tr, .sodate-date tt, .sodate-date u, .sodate-date ul, .sodate-date var, .sodate-date video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: 0;
  border-collapse: inherit;
  border-spacing: 2px
}


.sodate-date ol, ul {
  list-style: none
}

.sodate-date li {
  position: relative
}

.sodate-date a {
  color: #fff;
  text-decoration: none;
  cursor: pointer
}

.sodate-date ::-webkit-scrollbar {
  width: 17px;
  height: 17px
}

.sodate-date ::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  cursor: pointer
}

.sodate-date ::-webkit-scrollbar-track {
  background: transparent
}

.sodate-date {
  display: none;
  height: 324px;
  border: 1px solid #d2d2d2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  color: #666;
  position: absolute;
  z-index: 1000000
}

.sodate-date .sodate-top {
  height: 45px;
  width: 274px;
  border-bottom: 1px solid #d2d2d2;
  line-height: 45px;
  text-align: center;
  white-space: nowrap
}

.sodate-date .sodate-top i {
  height: 45px;
  width: 45px;
  display: block;
  content: '';
  cursor: pointer
}

.sodate-date .sodate-top i, .sodate-date .sodate-top span {
  display: block;
  float: left
}

.sodate-date .sodate-top .sodate-year-mon {
  width: 94px;
  text-align: center
}

.sodate-date .sodate-top .sodate-up-year:before {
  display: block;
  content: '';
  height: 10px;
  width: 10px;
  border-bottom: 2px solid #666;
  border-left: 2px solid #666;
  transform: rotate(45deg);
  position: relative;
  top: 16px;
  left: 12px;
  float: left
}

.sodate-date .sodate-top .sodate-next-year:before {
  display: block;
  content: '';
  height: 10px;
  width: 10px;
  border-bottom: 2px solid #666;
  border-left: 2px solid #666;
  transform: rotate(-135deg);
  position: relative;
  top: 16px;
  left: 6px;
  float: left
}

.sodate-date .sodate-top i:after {
  display: block;
  content: '';
  height: 10px;
  width: 10px;
  border-bottom: 2px solid #666;
  border-left: 2px solid #666;
  position: relative
}

.sodate-date .sodate-top .sodate-up-year:after {
  transform: rotate(45deg);
  top: 16px;
  left: 22px
}

.sodate-date .sodate-top .sodate-up-mon:after {
  transform: rotate(45deg);
  top: 16px;
  left: 16px
}

.sodate-date .sodate-top .sodate-next-year:after {
  transform: rotate(-135deg);
  top: 16px;
  left: 16px
}

.sodate-date .sodate-top .sodate-next-mon:after {
  transform: rotate(-135deg);
  top: 16px;
  left: 10px
}

.sodate-date .sodate-top i:hover:after, .sodate-date .sodate-top i:hover:before {
  border-bottom: 2px solid #44a9c5;
  border-left: 2px solid #44a9c5
}

.sodate-date .sodate-date-content {
  width: 274px;
  height: 240px;
  border-bottom: 1px solid #d2d2d2
}

.sodate-date .sodate-date-content td {
  width: 36px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  font-size: 14px
}

.sodate-date .sodate-date-content td.sodate-active {
  background-color: #3294af;
  color: #ffffff
}

.sodate-date .sodate-date-content td.sodate-active:hover {
  background-color: #3294af;
  color: #ffffff
}

.sodate-date .sodate-date-content td.sodate-before, .sodate-date .sodate-date-content td.sodate-after {
  color: #d2d2d2
}

.sodate-date .sodate-date-content td:hover {
  background-color: #eaeaea;
  color: #333
}

.sodate-date .sodate-date-time {
  height: 40px;
  width: 50%;
  float: left;
  text-align: center;
  line-height: 36px
}

.sodate-date .sodate-date-time span {
  display: block;
  width: 78px;
  height: 28px;
  line-height: 28px;
  position: relative;
  top: 3px;
  left: 4px;
  cursor: pointer;
  border: dashed 1px #d2d2d2
}

.sodate-date .sodate-date-time span:hover, .sodate-date .sodate-date-button span:hover {
  color: #3294af;
  border-color: #3294af
}

.sodate-date .sodate-date-button {
  height: 40px;
  width: 50%;
  float: left
}

.sodate-date-time-text {
  font-size: 14px
}

.sodate-date .sodate-date-button span {
  display: block;
  width: 42px;
  height: 28px;
  float: left;
  border: solid 1px #d2d2d2;
  color: #333;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  position: relative;
  top: 50%;
  margin-top: -17px;
  left: -1px;
  margin-right: 1px;
  cursor: pointer
}

.sodate-time {
  width: 272px;
  height: 286px;
  position: absolute;
  background-color: #ffffff
}

.sodate-time .sodate-time-top {
  display: block;
  height: 45px;
  width: 272px;
  border-bottom: 1px solid #d2d2d2;
  line-height: 45px;
  text-align: center
}

.sodate-time-main {
  width: 100%;
  height: 240px
}

.sodate-time-main:after {
  display: block;
  content: '';
  clear: both
}

.sodate-time-main li {
  list-style: none
}

.sodate-time-main > ul {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center
}

.sodate-time-main > ul > li {
  float: left;
  display: block;
  width: 84px;
  height: 210px;
  position: relative;
  left: 10px
}

.sodate-time-main > ul > li p {
  display: block;
  height: 38px;
  line-height: 38px;
  margin: auto;
  padding: 0
}

.sodate-time-main ol {
  display: block;
  border-bottom: solid 1px #d2d2d2;
  border-top: solid 1px #d2d2d2;
  border-left: solid 1px #d2d2d2;
  text-align: center;
  height: 192px;
  width: 84px;
  margin: auto;
  padding: 0;
  overflow: hidden
}

.sodate-time-main ol.sodate-overflow {
  overflow-y: inherit
}

.sodate-time-main ol.sodate-overflow li {
  text-indent: 17px
}

.sodate-time-main > ul > li:last-child ol {
  border-right: solid 1px #d2d2d2
}

.sodate-time-main ol > li {
  text-align: center;
  display: block;
  height: 32px;
  line-height: 32px;
  cursor: pointer
}

.sodate-time-main ol > li:hover {
  background-color: #d2d2d2
}

.sodate-time-main ol > li.sodate-active {
  color: #ffffff;
  background-color: #3294af
}