<div class="widgets" ng-controller="copyright">
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="$tabSetStatus.activeTab">
                <uib-tab heading="首页文案" ng-click="openTab(1)">
                    <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>代码</th>
                                <th>标题</th>
                                <th>发布时间</th>
                                <th>状态</th>
                                <th>操作人</th>
                                <th>操作时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody ng-if="entity != null || entity.length >0">
                            <tr ng-repeat="item in entity">
                                <td>{{$index+1}}</td>
                                <td>{{item.code}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td ng-style="{color:item.status==0?'red':''}">{{item.status | formatConfigStatus}}</td>
                                <td>{{item.modifyUsername}}</td>
                                <td>{{item.modifyTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>
                                    <button class="status-button btn btn-xs btn-info" data-toggle="modal"
                                            ng-click="openEdit(true,item)">修改
                                    </button>
                                    <button class="status-button btn btn-xs btn-{{item.status == 1?'danger':'info'}}"
                                            ng-click="onStatus(item)">{{item.status==1?'停用':'启用'}}
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tbody ng-if="entity == null || entity.length ==0">
                            <tr>
                                <td colspan="11">暂无数据</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab heading="注册说明" ng-click="openTab(2)">
                    <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>代码</th>
                                <th>标题</th>
                                <th>发布时间</th>
                                <th>状态</th>
                                <th>操作人</th>
                                <th>操作时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody ng-if="entity != null || entity.length >0">
                            <tr ng-repeat="item in entity">
                                <td>{{$index+1}}</td>
                                <td>{{item.code}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td ng-style="{color:item.status==0?'red':''}">{{item.status | formatConfigStatus}}</td>
                                <td>{{item.modifyUsername}}</td>
                                <td>{{item.modifyTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>
                                    <button class="status-button btn btn-xs btn-info" data-toggle="modal"
                                            ng-click="openEdit(true,item)">修改
                                    </button>
                                    <button class="status-button btn btn-xs btn-{{item.status == 1?'danger':'info'}}"
                                            ng-click="onStatus(item)">{{item.status==1?'停用':'启用'}}
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tbody ng-if="entity == null || entity.length ==0">
                            <tr>
                                <td colspan="11">暂无数据</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab heading="线上存取文案" ng-click="openTab(3)">
                    <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>代码</th>
                                <th>标题</th>
                                <th>发布时间</th>
                                <th>状态</th>
                                <th>操作人</th>
                                <th>操作时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody ng-if="entity != null || entity.length >0">
                            <tr ng-repeat="item in entity">
                                <td>{{$index+1}}</td>
                                <td>{{item.code}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td ng-style="{color:item.status==0?'red':''}">{{item.status | formatConfigStatus}}</td>
                                <td>{{item.modifyUsername}}</td>
                                <td>{{item.modifyTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>
                                    <button class="status-button btn btn-xs btn-info" data-toggle="modal"
                                            ng-click="openEdit(true,item)">修改
                                    </button>
                                    <button class="status-button btn btn-xs btn-{{item.status == 1?'danger':'info'}}"
                                            ng-click="onStatus(item)">{{item.status==1?'停用':'启用'}}
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tbody ng-if="entity == null || entity.length ==0">
                            <tr>
                                <td colspan="11">暂无数据</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab heading="帮助中心" ng-click="openTab(4)">
                    <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>代码</th>
                                <th>标题</th>
                                <th>发布时间</th>
                                <th>状态</th>
                                <th>操作人</th>
                                <th>操作时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody ng-if="entity != null || entity.length >0">
                            <tr ng-repeat="item in entity">
                                <td>{{$index+1}}</td>
                                <td>{{item.code}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td ng-style="{color:item.status==0?'red':''}">{{item.status | formatConfigStatus}}</td>
                                <td>{{item.modifyUsername}}</td>
                                <td>{{item.modifyTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>
                                    <button class="status-button btn btn-xs btn-info" data-toggle="modal"
                                            ng-click="openEdit(true,item)">修改
                                    </button>
                                    <button class="status-button btn btn-xs btn-{{item.status == 1?'danger':'info'}}"
                                            ng-click="onStatus(item)">{{item.status==1?'停用':'启用'}}
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tbody ng-if="entity == null || entity.length ==0">
                            <tr>
                                <td colspan="11">暂无数据</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>