<div class="widgets" ng-controller="OnlineMemberInquiries">
    <div ba-panel ba-panel-class="">
        <form class="form-horizontal">
            <div class="form-group">

                    <label class="col-sm-1 control-label">会员账号</label>
                    <div class=" col-sm-6 ">
                        <input class="form-control" ng-model="selectParam.memberName" placeholder="请输入账号"
                        >
                    </div>
                    <div class=" col-sm-5 align-right" >
                        &nbsp;
                        <a ng-click="onReset()">重置</a>
                        <button type="submit" class="btn btn-primary  btn-with-icon" ng-click="onSearch()"><i
                                class="ion-search"></i>搜索
                        </button>
                    </div>

            </div>
        </form>
    </div>
    <div ba-panel>
        <table class="table table-hover">
            <thead>
            <tr class="black-muted-bg">
                <th>序号</th>
                <th>会员账号</th>
                <th>所属代理</th>
                <th>会员层级</th>
                <th>登入时间</th>
                <th>登录IP</th>
                <th>来源终端</th>
            </tr>
            </thead>
            <tbody ng-if="entity != null && entity.length >0">
            <tr ng-repeat="item in entity">
                <td>{{$index+1}}</td>
                <td>{{item.name}}</td>
                <td>{{!item.agent ? '无':item.agent}}</td>
                <td>{{!item.level ? '无':item.level}}</td>
                <td>{{!item.loginTime?'无':item.loginTime |date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{!item.loginIp?'无':item.loginIp}}</td>
                <td>{{!item.source?'无':item.source}}</td>
            </tr>
            </tbody>
            <tbody ng-if="entity == null || entity.length ==0">
            <tr>
                <td colspan="13">暂无数据</td>
            </tr>
            </tbody>
        </table>
        <div id="page"></div>
    </div>
</div>
