<div class="widgets" ng-controller="collectionConfig">
    <div ba-panel ba-panel-class="">
        <form class="row form-inline">
            <div class="form-group col-sm-12 col-xs-6 align-right">
                <button type="button" class="btn btn-primary  btn-with-icon" data-toggle="modal"
                        ng-click="openEdit(false,null)">
                    <i class="ion-plus"></i>新增快捷支付
                </button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
                <table class="table table-hover">
                    <thead>
                    <tr class="black-muted-bg">
                        <th>序号</th>
                        <th>收款方式</th>
                        <th>币种</th>
                        <th>收款域名</th>
                        <th>创建时间</th>
                        <th>操作时间</th>
                        <th>操作人</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" ng-repeat="item in entity">
                        <td>{{$index+1}}</td>
                        <td>{{item.rsName}}</td>
                        <td>{{item.currency}}</td>
                        <td>{{item.rsUrl}}</td>
                        <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{item.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{item.updateName}}</td>
                        <td ng-style="{'color':item.status== 0?'red':''}">{{item.status | formatConfigStatus}}</td>
                        <td>
                            <button class="status-button btn btn-xs btn-info" ng-show="item.flag==1"
                                    ng-click="openEdit(true,item)">修改
                            </button>
                            <button class="status-button btn btn-xs btn-{{item.status == 1?'danger':'info'}}"
                                    ng-click="onSave(item)">{{item.status == 1?'停用':'启用'}}
                            </button>

                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-if="entity == null || entity.length ==0">
                    <tr>
                        <td colspan="7">暂无数据</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="page"></div>
        </div>
    </div>
</div>
