<!DOCTYPE html>
<html lang="en" ng-app="BlurAdmin" ng-controller="loginCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic'
          rel='stylesheet' type='text/css'>

    <!--<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">-->
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png" id="iconImg">
    <!--<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">-->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/auth.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/page.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
    <script>
        delCookie('access_token1')

        function delCookie(name) {//为了删除指定名称的cookie，可以将其过期时间设定为一个过去的时间
            var date = new Date();
            date.setTime(date.getTime() - 10000);
            document.cookie = name + "=a; expires=" + date.toGMTString();
        }
    </script>
    <style>
        .auth-block{
            position: relative;
        }
        .auth-sep{
            margin: 30px 0;
            line-height: 15px;
            font-size: 15px;
        }
        .auth-sep > span{
            color:#44a9c5;
        }
        /*.login-logo{*/
            /*background: url(assets/img/app/profile/02.png) no-repeat center;*/
            /*background-size: 100%;*/
            /*width: 458px;*/
            /*height: 61px;*/
            /*margin-bottom: 10px;*/
            /*position: absolute;*/
            /*left: 43%;*/
            /*top:-25%;*/
            /*margin-left: -197.4px;*/
        /*}*/
    </style>
</head>
<body>
<main class="auth-main" >
    <div class="auth-block" >
        <h1><span ng-if="textFlag" ng-bind-html="logoName"></span> <img src="" alt="" id="logoImg"></h1>
        <div class="login-logo"></div>

        <form class="form-horizontal" >
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">用户名</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" ng-model="username" placeholder="请输入用户名">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">密码</label>

                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" ng-model="password" placeholder="请输入密码">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">验证码</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="code" ng-model="code" placeholder="请输入验证码">
                </div>
                <div class="col-sm-3">
                    <img src="" id="codeImg" style="height: 34px;float:right" ng-click="onResetCode()">
                </div>
            </div>
            <div class="form-group">
                <p id="errMsg" class="col-sm-12 control-label" style="color: red"></p>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="reset" class="btn btn-default btn-auth" ng-click="onReset()">重置</button>
                    <button type="submit" class="btn btn-primary btn-auth" ng-click="login()">登录</button>
                    <!--<a href class="forgot-pass">Forgot password?</a>-->
                </div>
            </div>
        </form>
        <div class="auth-sep"><span><span>MEMBER LOGIN</span></span></div>



    </div>
</main>
<script type="text/javascript" src="path/globalVariable.js"></script>
<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->

<!-- endbuild -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->

<!--<script type="text/javascript" src="app/globalVariable.js" ></script>-->

<script>
    var app = angular.module("BlurAdmin", ['ngCookies', 'toastr', 'ui.router']);
    app.controller("loginCtrl", function ($scope, $http, $cookieStore, toastr) {
        $scope.textFlag=false;
      /*  $scope. selectParam={
            typesSelected:{id:1,value:"业主账号"},
            typesName:[{id:1,value:"业主账号"},{id:2,value:"代理账号"}]
        };*/



      var path = globalPath;


         var imgUrl = globalImgUrl;

        var codeUrl = path + '/uaa/apid/member/code/get';
        var logoUrl = path + '/areaaccount/apid/platinfo/get_plat_login_info';
        var appid = 'owner_plat_test'

        $http({
            url: logoUrl,
            method: "GET",
            data: null,
            timeout: 30000
        }).success(function (result) {

            if(!result.data){
                return false
            }
         console.log(result);
            if(result.data){
                localStorage.setItem('logoTitle', result.data.name);
                document.getElementById('iconImg').setAttribute('href',imgUrl+'/photo/pic/'+result.data.icon +'/0')
                localStorage.setItem('iconUrl', imgUrl+'/photo/pic/'+result.data.icon+'/0')
            }
            if(result.data.logo){
                $scope.textFlag=false;
                document.getElementById('logoImg').setAttribute('src',imgUrl+'/photo/pic/'+result.data.logo+'/0')
            }else if(result.data.name){
                $scope.textFlag=true;
                $scope.logoName=result.data.name;
            }


            //console.log(document.getElementById('logoImg'))


        }).error(function (data, status, headers, config) {

        });





        $('.form-control').each(function (i, t) {
            $(t).focus(function () {
                $('#errMsg').html('');
            })
        })
        var clientId = '';
        $scope.errMsg = ''
        var code_i = 0;
        $scope.onResetCode = function () {
            $http({
                url: codeUrl,
                method: "GET",
                data: null,
                timeout: 30000
            }).success(function (result) {
                if (result.err == 'SUCCESS') {
                    clientId = result.data.clientId;
                    document.getElementById('codeImg').src = 'data:image/png;base64,' + result.data.code
                } else {
                    $scope.onResetCode();
                    code_i++
                    if (code_i < 5) {
                        setTimeout(function () {
                            $scope.onResetCode();
                        }, 2000)
                    }
                }
            }).error(function (data, status, headers, config) {
            });
        }
        $scope.onResetCode();

        $scope.login = function () {
            var grant_type = 'password';
            var password = $scope.password;
            var code = $scope.code;
            var headers = {Authorization: 'Basic d2ViX2FwcDo=', "clientId": clientId};
            var username=appid + '|' + $scope.username;
            var url=path + "/uaa/apid/plat/login?grant_type=" + grant_type + "&username=" + username + "&password=" + password + "&code=" + code;
           /* if($scope.selectParam.typesSelected.id==1){
               username =
               url =


            }else if($scope.selectParam.typesSelected.id==2){
                username = $scope.username;
               url = path + "/uaa/apid/agent/login?grant_type=" + grant_type + "&username=" + username + "&password=" + password + "&code=" + code;

            }*/
            $http({
                url: url,
                method: "POST",
                headers: headers,
                data: null,
                timeout: 30000
            }).success(function (result) {

                if (result.err == 'SUCCESS') {
                    $cookieStore.put('access_token1', result.data.access_token);
                   if(result.data.acType==4){
                       $cookieStore.put('appid', appid);
                        $cookieStore.put('agentFlag', 0);
                    }
                    if(result.data.acType==3){
                       $cookieStore.put('agentFlag', 1);

                    }
                    window.location.href = 'index.html';
                } else {
                    $scope.onResetCode()
                    var msg = "登录失败！";
                    msg = result.cnMsg
                    toastr.error(msg, "温馨提示", {
                        "autoDismiss": false,
                        "positionClass": "toast-top-center",
                        "type": "success",
                        "timeOut": "2000",
                        "extendedTimeOut": "2000",
                        "allowHtml": false,
                        "closeButton": true,
                        "tapToDismiss": false,
                        "progressBar": true,
                        "newestOnTop": false,
                        "maxOpened": 0,
                        "preventDuplicates": false,
                        "preventOpenDuplicates": false
                    });
                }
            }).error(function (data, status, headers, config) {
                toastr.error(data.cnMsg, "温馨提示", {
                    "autoDismiss": false,
                    "positionClass": "toast-top-center",
                    "type": "success",
                    "timeOut": "2000",
                    "extendedTimeOut": "2000",
                    "allowHtml": false,
                    "closeButton": true,
                    "tapToDismiss": false,
                    "progressBar": true,
                    "newestOnTop": false,
                    "maxOpened": 0,
                    "preventDuplicates": false,
                    "preventOpenDuplicates": false
                });
            });
        };

        $scope.onReset = function () {
            $scope.username = '';
            $scope.password = '';

        }
    });
</script>
</body>
</html>

